<!DOCTYPE html>
<html lang="en">
<head>
  <title>MVC for Eat-Da-Burger</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/assets/js/burgers.js"></script>
</head>

<body>
  {{{ body }}}
</body>
</html>
